<form class="form-horizontal">
  <div class="modal-header modal-header--custom">
    <button type="button" class="close pull-right" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h2 class="col-md-12 col-xs-12 col-sm-12 col-lg-12 modal-headding">
      Ошибка доступа. У Вас недостаточно прав для этого действия.
    </h2>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12 col-xs-12">

      </div>
    </div>
  </div>
  <div class="modal-footer no-borders"></div>
</form>
