@using WebSite.Mvc.Helpers

<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav" id="side-menu">
      <li class="@Html.IsSelected("Words")">
        <a href="@Url.Action("Index","Words")">
          <i class="fa fa-newspaper-o"></i>
          <span class="nav-label">Словарь</span>
        </a>
      </li>
      <li class="@Html.IsSelected("Books")">
        <a href="@Url.Action("Index","Books")">
          <i class="fa fa-book"></i>
          <span class="nav-label">Книги</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
