@{
    ViewBag.Title = "Ошибка доступа";
}

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h2>Ошибка доступа. У Вас недостаточно прав для этого действия.</h2>
        </div>
        <div class="ibox-content">
        </div>
      </div>
    </div>
  </div>
</div>
