@{
    ViewBag.Title = "Словарь";
}

<div id="object-show" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div id="object-show-content" class="modal-content"></div>
  </div>
</div>
<div id="object-edit" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div id="object-edit-content" class="modal-content"></div>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h2 class="text-center">@ViewBag.Title</h2>
          <div class="ibox-tools">

          </div>
        </div>
        <div class="ibox-content">
          @{ Html.RenderAction("Index", "WordsTable");}
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  "use strict";

  $(function () {
    Word.init();
  });

  function show(id) {
    Word.show({ id: id });
  }

  function addWord(id) {
    Word.add(id);
  }

  function deleteSelectedWords(ids, table) {
    Word.del($.merge([], ids), ids.length + ' записей');
  }
</script>
