<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!--
  <variable name="appName" value="Vector.Server.Host" />
-->
  <targets>
    <target xsi:type="File"
            name="fileTarget"
            fileName="${basedir}\logs\log.log"
            
            layout="${longdate} ${level:uppercase=true} [${threadid}${when:inner= apd_${appdomain:format=short}:when='${appdomain:format=short}'!='01'}] [${logger}] - ${message}${when:inner=${newline}${exception:format=tostring}:when='${exception:format=tostring}'!=''}"
            
            keepFileOpen="false"
            archiveFileName="${basedir}\logs\log_${shortdate}.{##}.log"
            archiveNumbering="Sequence"
            archiveEvery="Day"
            encoding="utf-8"
            maxArchiveFiles="30" />

    <target xsi:type="Console"
              name="consoleTarget"
              layout="${longdate} ${uppercase:${level}} [${logger}] - ${message}${when:inner=${newline}${exception:format=Message}:when='${exception:format=Message}'!=''}"/>
  </targets>
  <rules>
    <logger name="*" writeTo="fileTarget" minlevel="Trace" />
    <logger name="*" writeTo="consoleTarget" minlevel="Trace" />
  </rules>
</nlog>
