@{
    ViewBag.Title = "Книги моего Отца";
    var header = "Книги";
}

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h2 class="text-center">@header</h2>
          <div class="ibox-tools">

          </div>
        </div>
        <div class="ibox-content">
          @{ Html.RenderAction("Index", "BookTable");}
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  "use strict";

  function show(id) {
    console.log(id);
    //window.Book.show({ id: id });
  }

  function addBook(id) {
    console.log(id);
    //window.Book.add();
  }

  function deleteSelectedBooks(ids, table) {
    console.log(ids, table);
    //window.Book.del({ ids: ids, table: table });
  }
</script>
